/* Media all */
/* All */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
/* End All */
/* Brand */
.brand {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.brand__item {
  display: inline-block;
  padding: 10px;
  width: 100%;
  background: url(../files/images/potato-field.jpg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 0 1px 0 #000;
  color: #277554;
  text-decoration: none;
  text-shadow: 1px -1px #000;
  font-weight: bold;
  font-size: 200%;
}
/* End Brand */
/* Contacts */
.contacts {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}
.contacts__item {
  padding: 5px;
}
.contacts__item-link {
  color: inherit;
  text-decoration: none;
  font-size: 110%;
}
.contacts__item-link:focus {
  outline: none;
}
.contacts__item-link::before {
  display: inline-block;
  width: 1.28571429em;
  text-align: center;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;

  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.contacts__item-link_address::before {
  content: "\f041";
}
.contacts__item-link_email::before {
  padding: 0 5px 0 0;
  content: "\f0e0";
}
.contacts__item-link_phone::before {
  content: "\f10b";
}
/* End Contacts */
/* Navigation menu */
.navigation-menu {
  text-align: center;
}
.navigation-menu > .navigation-menu__menu {
  position: static;
  display: block;
  width: 100%;
  background: 0;
  box-shadow: none;
}
.navigation-menu__item:hover > .navigation-menu__menu {
  display: block;
}
.navigation-menu__image {
  height: 100px;
  background: #fff;
}
.navigation-menu__item {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}
.navigation-menu__item:hover {
  background: #d8d8c0;
}
.navigation-menu__link {
  display: block;
  width: 100px;
  box-shadow: 0 0 4px 0 #000;
  color: inherit;
  text-decoration: none;
}
.navigation-menu__link:hover {
  box-shadow: 0 0 8px 0 #000;
}
.navigation-menu__menu {
  position: absolute;
  left: 0;
  display: none;
  padding: 0 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 8px 0 #000;
}
.navigation-menu__text {
  display: block;
  background: #808080;
}
/* End Navigation menu*/
/* Page */
.page {
  padding: 5px;
}
.page_0 {
  display: none;
}
.page_25 {
  width: 25%;
}
.page_33 {
  width: 33.333%;
}
.page_50 {
  width: 50%;
}
.page_66 {
  width: 66.666%;
}
.page_75 {
  width: 75%;
}
.page_100 {
  width: 100%;
}
.page__row {
  font-size: 0;
}
.page__footer {
  background: #aaa039;
}
.page__header {
  background: #e6faff;
}
.page__main {
  margin: 5px auto;
  width: 90%;
  background: #808080;
}
.page__footer,
.page__header,
.page__main {
  padding: 5px;
  border: 2px solid #d3d3d3;
  border-radius: 10px;
}
.page__viewport {
  background: url(../files/images/potato-field.jpg) no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
}
/* End Page */
/* End Media all*/

/* Media mobile */
@media (max-width: 799px) {
/* Page */
.page_mob-0 {
  display: none;
}
.page_mob-25 {
  width: 25%;
}
.page_mob-33 {
  width: 33.333%;
}
.page_mob-50 {
  width: 50%;
}
.page_mob-66 {
  width: 66.666%;
}
.page_mob-75 {
  width: 75%;
}
.page_mob-100 {
  width: 100%;
}
/* End Page */
}
/* End Media mobile */
