<!DOCTYPE html>
<html class="page__viewport">
  <head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <title>Typography</title>
    <link rel="stylesheet" href="../styles/normalize-4.1.1.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../styles/font-awesome-4.6.3.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../styles/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body class="page">
    <header class="page__header">
      <div class="page__row">
        <section class="brand page_33 page_mob-100">
          <a class="brand__item" href="./index.html">Company name</a>
        </section>
        <section class="contacts page_33 page_mob-100">
          <div class="contacts__item">
            <a class="contacts__item-link contacts__item-link_phone" href="tel:8-910-290-2213">8 (910) 290-22-13</a>
          </div>
          <div class="contacts__item">
            <a class="contacts__item-link contacts__item-link_email" href="mailto:von.asar@gmail.com?subject=Mail from site">von.asar@gmail.com</a>
          </div>
          <div class="contacts__item">
            <a class="contacts__item-link contacts__item-link_address" href="https://www.google.com/maps/dir//241050,+Брянская+обл.,+г.+Брянск,+ул.+Фокина,+д.+193,+офис+303" target="_blank">Fokina street, 193</a>
          </div>
        </section>
        <section class="controls page_33 page_mob-100">
          <div class="controls__profile"></div>
          <div class="controls__language"></div>
          <div class="controls__search"></div>
        </section>
      </div>
      <nav class="navigation-menu page_100">
        <div class="navigation-menu__bars">Menu</div>
        <ul class="navigation-menu__menu">
          <li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Short</a>
            <ul class="navigation-menu__menu">
              <li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li><li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li><li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Short</a>
            <ul class="navigation-menu__menu">
              <li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li><li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li><li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Short</a>
            <ul class="navigation-menu__menu">
              <li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li><li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li><li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Short</a>
            <ul class="navigation-menu__menu">
              <li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li><li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li><li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Short</a>
            <ul class="navigation-menu__menu">
              <li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li><li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li><li class="navigation-menu__item">
            <a class="navigation-menu__link" href="#">Short</a>
            <ul class="navigation-menu__menu">
              <li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li><li class="navigation-menu__item">
                <a class="navigation-menu__link" href="#">Short</a>
                <ul class="navigation-menu__menu">
                  <li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li><li class="navigation-menu__item">
                    <a class="navigation-menu__link" href="#">Short</a>
                    <ul class="navigation-menu__menu">
                      <li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li><li class="navigation-menu__item">
                        <a class="navigation-menu__link" href="#">Short</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main class="page__main">
      <nav></nav>
      <aside class=""></aside>
      <section class="ajax"></section>
      <aside class=""></aside>
    </main>
    <footer class="page__footer">
      <section>
        Footer
      </section>
    </footer>
    <script src="../scripts/script.js" charset="utf-8"></script>
  </body>
</html>
